#main {
    background-image: url('./images/B&W_bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

#about-me  {
    background-color: black;
}

#reputation {
    background-color: black;
}

.skills {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
  }
  
  .skills:hover {
    background-color: blue;
    color: white;
  }







.flex-container {
    display: flex;
    flex-wrap: wrap;
  }

.screen-shots {
    /* position: absolute; */
}

.banner {
    position: relative;
    bottom: 25%;
    left: 50%;
}

.screen-shots:hover {
}

