#main {
    background-image: url('./images/B&W_bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

#about-me  {
    background-color: black;
    width: 100%;
    padding: 30px;
    margin-bottom: 100px;
}

#reputation {
    background-color: black;
    width: 100%;
    padding: 0 30px 0 30px;
    margin-top: 100px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
  }

#image-parent {
    margin-bottom: 100px;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 400px;
}
  
  
.image-container .image-buttons {
    position: absolute;
    top: 85%;
    left: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
