/* figure out images sizing */
/* hover effects */

.flex-container {
    display: flex;
    flex-wrap: wrap;
  }


.screen-shots {
    position: relative;
}

.banner {
    position: absolute;
    bottom: 75%;
    left: 50%;
}


.screen-shots:hover {
}